[tool.isort]
profile = "black"
multi_line_output = 3

[tool.black]
target-version = ["py38", "py39"]
extend-exclude = '__pycache__'
line-length = 140

# Docs: https://gitlab.com/mbarkhau/pycalver
[bumpver]
current_version = "0.1.1"
version_pattern = "MAJOR.MINOR.PATCH"
commit_message = "[RELEASE] {new_version}"
commit = true
tag = true
push = true

[bumpver.file_patterns]
"VERSION" = ["{version}"]
"pyproject.toml" = ['current_version = "{version}"']
