black==24.3.0
bumpver==2023.1129
coverage==7.6.1
isort==5.13.2
pdoc==14.7.0
pydocstyle[toml]==6.3.0
tox==4.23.2
twine==6.1.0
watchdog==6.0.0
wheel==0.45.1
toml==0.10.2
pre-commit==4.2.0
setuptools==78.1.1
pytest==8.1.1
pytest-django==4.8.0
